{% extends 'expenseApp/base.html'%}
{% block content %}
<div class="container">
    <h3 class="text-center py-2 text-decoration-underline">Course List</h3>
    <table class="table table-bordered table-hover">
        <tr class="text-bg-info">
            <th>Course</th>
            <th>Course Coordinator</th>
            <th>Number of student</th>
            <th>Durations</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for x in course %}
        <tr>
            <td class="courseId">{{x.course_id}}</td>
            <td class="cordinatorId">{{x.cordinator_id}}</td>
            <td class="numberOfStudent">{{x.number_of_student}}</td>
            <td class="courseDurations">{{x.course_durations}}</td>
            <td class="startDate">{{x.start_date}}</td>
            <td class="endDate">{{x.end_date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}