{% extends 'expenseApp/base.html'%}
{% block content %}
<div class="container">
    <table class="table table-borderd table-hover">
        <tr>
            <th>Course</th>
            <th>Course Coordinator</th>
            <th>Number of student</th>
            <th>Status</th>
        </tr>
        {% for x in course %}
        <tr>
            <td>{{x.course_id}}</td>
            <td>{{x.cordinator_id}}</td>
            <td>{{x.number_of_student}}</td>
            <td>{{x.status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}