{% extends 'expenseApp/base.html'%}
{% block content %}
<div class="container">
<!-- filter start -->
<div class="text-center py-2">
    <h3 class="text-center py-2 text-decoration-underline">Balance</h3>
    <form class="d-flex justify-content-end align-items-center" action="" method="post">
        {% csrf_token %}
            <input id="date" type="date" class="form-control" name="date" style="width: fit-content;">
        <!-- It's time to submit this form -->
            <input type="submit" value="Click to filter" class="btn btns btn-success">
    </form>

</div>
<!-- filter end  -->
    <table class="table table-bordered table-hover">
        <tr class="text-bg-info">
            <th>Date</th>
            <th># of Student </th>
            <th>Previous Balance</th>
            <th>Withdraw</th>
            <th>Total Cost</th>
            <th>Net Balance</th>
        </tr>
        {% for x in balance %}
        <tr>
            <td class="dailyExpenseDate">{{x.date}}</td>
            <td class="numberOfStudent">{{x.number_of_student}}</td>
            <td class="priviousBalance">{{x.privious_balance}}</td>
            <td class="withdrawAmount">{{x.withdraw_amount}}</td>
            <td class="totalCOst">{{x.total_cost}}</td>
            <td class="netBalance">{{x.net_balance}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}