{% extends 'expenseApp/base.html' %}
<!-- adding custom filter -->
{% load custom_filter %}
{% block content %}
<div class="container">
<!-- filter start -->
<div class="text-center py-2">
    <h3 class="text-center py-2 text-decoration-underline">All Expenses</h3>
    <form class="d-flex justify-content-end align-items-center" action="" method="post">
        {% csrf_token %}
            <input id="date" type="date" class="form-control" name="date" style="width: fit-content;">
            <input id="date2" type="date" class="form-control" name="date2" style="width: fit-content;">
        <!-- It's time to submit this form -->
            <input type="submit" value="Click to filter" class="btn btns btn-success">
    </form>

</div>
<!-- filter end  -->
    <table class="table table-bordered table-hover">
        <tr class="text-bg-info">
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
        </tr>
        {% for x in expense %}
        <tr>
            <td class="itemName">{{x.item_name}}</td>
            <td class="itemPrice">{{x.item_price}}</td>
            <td class="itemQuantity">{{x.item_quantity}}</td>
            <!-- TOTAL_PIRICE is the filter name  -->
            <td class="totalPrice">{{x.total}}</td>
            <td class="currentDate">{{x.date}}</td>
        </tr>
        {% endfor %}
    </table>
        <!-- pagination start  -->
    {% if expense.has_previous or expense.has_next %}

        <div class="pagination">
            {% if expense.has_previous %}
              <a class="btn btn-outline-secondary" href="?page={{ expense.previous_page_number }}">previous</a>&nbsp;&nbsp;
            {% endif %}
            <span class="page-number mt-1 mx-auto">Page {{ expense.number }} of {{ expense.paginator.num_pages }}</span>&nbsp;&nbsp;
            {% if expense.has_next %}
              <a class="btn btn-outline-secondary" href="?page={{ expense.next_page_number }}">next</a>
            {% endif %}
          </div>
    {% endif %}
        <!-- pagination end    -->

</div>
{% endblock %}