{% extends 'expenseApp/base.html'%}
{% block content %}
<div class="container">
<!-- filter start -->
<div class="text-center py-2">
    <h3 class="text-center py-2 text-decoration-underline">Withdraw</h3>
    <form class="d-flex justify-content-end align-items-center" action="" method="post">
        {% csrf_token %}
            <input id="date" type="date" class="form-control" name="date" style="width: fit-content;">
        <!-- It's time to submit this form -->
            <input type="submit" value="Click to filter" class="btn btns btn-success">
    </form>

</div>
<!-- filter end  -->
    <table class="table table-bordered table-hover">
        <tr class="text-bg-info">
            <th>Course</th>
            <th>Course Coordinator</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for x in withdraw %}
        <tr>
            <td class="courseId">{{x.course_id}}</td>
            <td class="cordinatorId">{{x.cordinator_id}}</td>
            <td class="amount">{{x.amount}}</td>
            <td class="withdrawDate">{{x.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}